<!DOCTYPE html>
<html>
  <head>
    <title>紫豹在哪裡</title>
    <link rel="icon" href="/static/image/purpleLeopard.png?v={{version}}">

    <link rel="canonical" href="http://purbao.lass-net.org/" />
    <meta property="og:url" content="http://purbao.lass-net.org/" />
    
    <meta name="description" content="受夠了空汙問題總是雞同鴨講、各說各話?「紫豹在哪裡」視覺化呈現各種空汙相關的動態 資料，在此人人都能以數據為基礎進行討論。空汙的真相自己找，自己的健康自己救!"/>
    <meta property="og:description" content="受夠了空汙問題總是雞同鴨講、各說各話?「紫豹在哪裡」視覺化呈現各種空汙相關的動態 資料，在此人人都能以數據為基礎進行討論。空汙的真相自己找，自己的健康自己救!" />

    <meta property="og:site_name" content="紫豹在哪裡" />
    <meta property="og:locale" content="zh_TW" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="紫豹在哪裡" />
    <meta property="og:image" content="http://purbao.lass-net.org/static/image/purpleLeopard.png?v={{version}}" />

    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="static/build/css/main.css?v={{version}}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="static/image/purpleLeopard.png?v={{version}}">
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-64789288-3', 'auto');
      ga('send', 'pageview');

    </script>

    <!-- Facebook Pixel Code -->
    <script>
      !function(f,b,e,v,n,t,s)
      {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};
      if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
      n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t,s)}(window, document,'script',
      'https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '1528952390491803');
      fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
      src="https://www.facebook.com/tr?id=1528952390491803&ev=PageView&noscript=1"
    /></noscript>
    <!-- End Facebook Pixel Code -->

  </head>
  <body>
    <div class="content-container">
      <div class="title center">
        <image class="logo" src="/static/image/purpleLeopard.png?v={{version}}">
        紫豹在哪裡
      </div>

      <div class="center map-container">
        <div id="map"></div>
        <div id="mapOverlay" class="map-loading">無資料</div>

        <img id="controlIcon" src="/static/image/settingIcon.png" title="控制面板">
        <div id="controlPanel">
          <div class="map-control">
              <div class="group">
                空汙透明度: 
                <input type="range" id="opacity" min="0.0" max="1" step="0.1" value="0.6">
                <span id="opLabel">60%</span>
              </div>
              <!--<div class="group">
                空汙顯示半徑: 
                <input type="range" id="pm25Radius" min="0.1" max="5" step="0.1" value="2">
                <span id="radiusLabel">2.0公里</span>
              </div>-->
              <div class="group">
                瞬間惡化指示: <input type="checkbox" id="showRelative">
                靈敏度<input type="range" id="sensitive" min="5" max="25" step="1" value="15">
                <span id="sensLabel">15</span>
              </div>
              <div class="group">
                風向: <input type="checkbox" id="showWind" checked>
              </div>
              <div class="group">
                電廠: <input type="checkbox" id="showPowerStation" checked>
              </div>
              <div class="group">
                交通: <input type="checkbox" id="showTraffic" checked>
              </div>
              <div class="group">
                註解: <input type="checkbox" id="showComment" checked>
              </div>
          </div>
        </div>
        
        <img id="powerIcon" src="/static/image/powerIcon.png" title="發電/用電數據">
        <div id="powerPanel">
          <div class="graph">
            <svg id="powerRatio"></svg>
            <div class="graph-label">各類發電比例 (單位:萬瓩)</div>
          </div>
          <div class="graph">
            <svg id="powerLoad"></svg>
            <div class="graph-label">區域用電比例 (單位:萬瓩)</div>       
          </div>
        </div>

        <img id="globalIcon" src="/static/image/globalIcon.png" title="亞洲PM2.5動態圖">
        <div id="globalPanel">
          <div class="graph">
            <image id="pm25Image">
            <div class="graph-label">
              亞洲PM2.5動態圖
              <input type="checkbox" id="pm25ImageAutoPlay">自動播放
            </div>
          </div>
        </div>
        
        {% if user %}
          <img id="commentIcon" src="/static/image/commentIcon.png" title="加入註解">
        {% endif %}
      </div>

      <div class="sidebar">
        <div class="center">
          <input type="number" id="showYear" value="2016" min="2016" max="2017">年
          <div id="showDay" class="inline-block"></div>
        </div>
        <div id="dayContainer"></div>
      </div> 
      <img id="menuIcon" class="date-menu" src="/static/image/dateIcon.png" title="選擇日期">

      <div class="map-label">
        PM2.5空汙動態地圖 (<span id="timeLabel"></span>)
        <div class="text-bt" onclick="CopySpaceTimeUrl();">複製網址</div>
      </div>

      <div class="segment">
        <div class="map-info">
          <div class="sub-title"><strong>圖示說明:</strong></div>
          <ul>
          <li>
              介面操作<a href="https://docs.google.com/presentation/d/1R6mBotesid82MhmGlj3xJmwwZWKB-ZiYYP2ZgUiKGCA/edit?usp=sharing" target="_blank"> 說明</a>
            </li>
          <li>日期與時間框
          <span class="time-block"></span>
          從上到下分成三個區塊，分別代表北中南部的PM2.5平均數值
          </li>
            <li>彩色網格: 格內測站平均PM2.5資料 顏色依
              <a href="http://taqm.epa.gov.tw/taqm/tw/fpmi.aspx" target="_blank">環保署細懸浮微粒指標</a>內插顯示:
              <div style="overflow-x:auto;">
                <table>
                  <tr>
                    <td class="index1-2">&nbsp;</td>
                    <td class="index2-3">&nbsp;</td>
                    <td class="index3-4">&nbsp;</td>
                    <td class="index4-5">&nbsp;</td>
                    <td class="index5-6">&nbsp;</td>
                    <td class="index6-7">&nbsp;</td>
                    <td class="index7-8">&nbsp;</td>
                    <td class="index8-9">&nbsp;</td>
                    <td class="index9-10">&nbsp;</td>
                    <td class="index10">&nbsp;</td>
                  </tr>
                  <tr>
                    <td> 0~11 </td>
                    <td> 12~23 </td>
                    <td> 24~35 </td>
                    <td> 36~41 </td>
                    <td> 42~47 </td>
                    <td> 48~53 </td>
                    <td> 54~58 </td>
                    <td> 59~64 </td>
                    <td> 65~70 </td>
                    <td> >=71 </td>
                  </tr>
                </table>
              </div>
              白色表示當時無資料。
            </li>
            <li>
              瞬間惡化指示: 跟前一時間點比起來，PM2.5數值惡化程度<br>
              在地圖上一整片都差不多顏色時，人眼難以看出PM2.5的變化狀況。此時使用瞬間惡化指示，將靈敏度調到適當數值，就能突顯空氣惡化的地方。<br>
              數值<span style="color: green">變小或不變 -> 綠色</span>。
              <span style="color: red">變大 -> 逐漸變紅</span>，越紅表示數值變化越大
            </li>
            <li>藍色箭頭: 角度為風向，長度與風力成正比</li>
            <li>黑色方框: 火力發電廠位置，大小與發電量成正比</li>
            <li>彩色線段: 路況資料 顏色隨行車速度變化
              <div class="traffic-index">
                <div class="level1">&gt;79 km/h</div>
                <div class="level2">59~79 km/h</div>
                <div class="level3">39~59 km/h</div>
                <div class="level4">&lt;39km/h</div>
              </div>
            </li>
          </ul>
        </div>
      </div>

      <div class="segment">
        <div class="ref">
          <div class="sub-title"><strong>資料來源:</strong></div>
          <ul>
            <li>空汙資料:
              <a href="http://airbox.kcg.gov.tw/" target="_blank">空氣盒子</a>
              <a href="http://www.airq.org.tw/" target="_blank">在地空氣品質即時地圖</a>
            </li>
            <li>風向資料:
              <a href="http://opendata.cwb.gov.tw/index" target="_blank">氣象資料開放平台</a> 編號:O-A0001-001
            </li>
            <li>電力資料:
              <a href="http://www.taipower.com.tw/content/new_info/new_info_in.aspx?LinkID=11" target="_blank">台灣電力公司</a>
            </li>
            <li>PM2.5亞洲動態圖:
              <a href="http://sprintars.riam.kyushu-u.ac.jp/forecast.html" target="_blank">SPRINTARS</a> (Toshihiko Takemura Kyushu University)
            </li>
            <li>交通資料:
              <a href="http://tisvcloud.freeway.gov.tw/" target="_blank">交通部臺灣區國道高速公路局「交通資料庫」</a>
            </li>
          </ul>
          <p>感謝以上組織提供開放資料~</p>
        </div>

        <div class="ref">
          <div class="sub-title"><strong>參考文件:</strong></div>
          <ul>
            <li>
              <a href="https://lass.hackpad.com/LASS-Data-Platform-tYTI2roiKW2" target="_blank">LASS hackpad</a>
            </li>
            <li>
              <a href="http://beta.hackfoldr.org/g0vairmap/g0v--TexkKFNmqZP" target="_blank">g0v 零時空汙觀測專案</a>
            </li>
            <li>
              <a href="https://www.taiwanstat.com/statistics/pm2.5_map/" target="_blank">用數據看台灣 pm2.5 2014 年各觀測站資料</a>
            </li>
            <li>
              <a href="http://unfccc.saveoursky.org.tw/2015nir/tw_nir.php" target="_blank">2015 年中華民國國家溫室氣體清冊報告</a>
            </li>
            <li>
              <a href="http://epr.epa.gov.tw/upload/approved/102/1028271776/201411101927374311.pdf" target="_blank">中部空品區細懸浮微粒中部空品區細懸浮微粒暴露評估及成因分析</a>
            </li>
            <li>
              <a href="http://epr.epa.gov.tw/upload/openFull/102/1024993883/201412111811390089.pdf" target="_blank">細懸浮微粒管制策略研擬及減量成效分析</a>
            </li>
          </ul>
        </div>
      </div>
      
      <div class="segment">
        <div class="paper">
        <div class="sub-title"><strong>參考論文:</strong></div>
          <ul>
            <li>
              Takemura, T., H. Okamoto, Y. Maruyama, A. Numaguti, A. Higurashi, and T. Nakajima, 2000: Global three-dimensional simulation of aerosol optical thickness distribution of various origins. Journal of Geophysical Research, 105, 17853-17873.
            </li>
            <li>
              Takemura, T., T. Nakajima, O. Dubovik, B. N. Holben, and S. Kinne, 2002: Single-scattering albedo and radiative forcing of various aerosol species with a global three-dimensional model. Journal of Climate, 15, 333-352.
            </li>
            <li>
              Takemura, T., T. Nozawa, S. Emori, T. Y. Nakajima, and T. Nakajima, 2005: Simulation of climate response to aerosol direct and indirect effects with aerosol transport-radiation model. Journal of Geophysical Research, 110, D02202, doi:10.1029/2004JD005029.
            </li>
          </ul>
        </div>
      </div>

      <div class="segment">
        <div class="paper">
        <div class="sub-title"><strong>關於專案:</strong></div>
          <ul>
            <li><a href="https://github.com/aga3134/AirPollution" target="_blank">網站開源程式碼</a></li>
            <li><a href="https://grants.g0v.tw/projects/5879cd6e55fa75001ef55ef3" target="_blank">g0v 公民科技創新獎助金提案</a></li>
            <li><a href="http://agawork.tw" target="_blank">其他專案</a></li>
            <li>若您對本站有任何建議或合作需求，歡迎來信討論 aga3134@gmail.com</li>
          </ul>
        </div>
      </div>
      
    </div>
    <div class="footer-padding">
      <div class="center">紫豹在哪裡</div>
      <div class="center"><img src="/static/image/leopard.png"></div>
    </div>

    <div class="fixbar">
      <div class="center">
        <div class="fixbar-label">
          速度 <input id="playSpeed" type="number" min="1" max="9" step="1" value="5"> 格/秒
        </div>
        <image id="prevBt" class="bt" src="static/image/prevIcon.png" onclick="Prev();">
        <image id="playBt" class="bt" src="static/image/playIcon.png" onclick="Play();">
        <image id="pauseBt" class="bt hide" src="static/image/pauseIcon.png" onclick="Pause();">
        <image id="nextBt" class="bt" src="static/image/nextIcon.png"  onclick="Next();">
      </div>
      <div class="top-bt">
        <img src="/static/image/topIcon.png" title="回地圖">
      </div>
      <div class="login-bt">
      {% if user %}
        <img src="/static/image/menuIcon.png" title="註解列表" onclick="OpenCommentPanel();">
      {% else %}
        <a href="/login-by-google">
          <img src="/static/image/loginIcon.png" title="登入">
        </a>
      {% endif %}
      </div>
      <div class="h-scroll">
        <div id="showTime"></div>
      </div>
    </div>

    <div class="comment-panel">
      <div class="close-bt" onclick="CloseCommentPanel();">X</div>
      <div>
        <div class="tab active" id="memoTab">備忘</div>
        <div class="tab" id="commentTab">註解</div>
      </div>
      
      <div class="memo-container">
        <div class="search-bar">
          <input class="search-input" type="text" placeholder="搜尋...">
          <div class="search-bt">搜尋</div>
        </div>
        <div id="memoList"></div>
      </div>
      <div class="comment-container hide">
        <div id="commentList"></div>
      </div>
      <a class="logout" href="/logout">登出</a>
      <div class="memo">
        <form id="memoForm" action="/memo-add" method="post">
          <textarea class="memo-input" placeholder="輸入備忘..." name="memo"></textarea>
          <div class="memo-bt">送出</div>
        </form>
      </div>
    </div>

    <form id="commentForm" action="/comment-add" method="post" hidden>
      <input type="text" name="time">
      <input type="text" name="lat">
      <input type="text" name="lng">
      <textarea name="comment"></textarea>
    </form>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.9/d3.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?libraries=visualization&sensor=false&key=AIzaSyBUGDJex2sQeScb1Wxcm7oiPGwdmyoLhHM"></script>
    <script src="https://code.jquery.com/jquery-2.2.2.min.js"   integrity="sha256-36cp2Co+/62rEAAYHLmRCPIych47CvdM+uTBJwSzWjI="   crossorigin="anonymous"></script>
    <script src="static/powerGraph.js?v={{version}}"></script>
    <script src="static/pm25Graph.js?v={{version}}"></script>
    <script src="static/dayGraph.js?v={{version}}"></script>
    <script src="static/mapGraph.js?v={{version}}"></script>
    <script src="static/main.js?v={{version}}"></script>
  </body>
</html>
